@font-face {
    src: url(Symtext.ttf);
    font-family: pxl;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(35, 35, 35);
    overflow-x: hidden;
    font-family: pxl;
}
#start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#title {
    font-size: 40px;
    margin-bottom: 15px;
}
#ripoffText {
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px white;
}
#btns button {
    font-family: pxl;
    background-color: #95a5a6;
    border: none;
    width: 140px;
    height: 30px;
    margin: 5px;
}
#btns button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px black;
}
#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(130, 130, 130);
    width: 500px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 0px 0px 7px black;
}
#score {
    position: absolute;
}
#character {
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}
.animate {
    animation: jump 500ms;
}
@keyframes jump {
    0% {
        top: 150px;
    }
    30% {
        top: 100px;
    }
    70% {
        top: 100px;
    }
    100% {
        top: 150px;
    }
}
#block {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
}
.battack {
    animation: block 1s infinite linear;
}
@keyframes block {
    0% {
        left: 480px;
    }
    100% {
        left: -40px;
    }
}
#dedMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.85);
    color: red;
}
#dedMenu button {
    font-family: pxl;
    background-color: #95a5a6;
    border: none;
    width: 100px;
    height: 30px;
    margin: 5px;
}
#about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
#about h1 {
    color: white;
}
#ap span {
    color: gray;
}
#ytVid {
    font-family: pxl;
    background-color: #95a5a6;
    border: none;
    width: 500px;
    height: 30px;
    margin: 5px;
}
#ytVid a {
    text-decoration: none;
    color: black;
}
#ytVid:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px black;
}
#back {
    font-family: pxl;
    background-color: #95a5a6;
    border: none;
    width: 200px;
    height: 30px;
    margin: 5px;
}
#back:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px black;
}
